<!-- PULL OFF THE GRID -->


      <!--<div id="social-media">
          <nav>
            <ul>
                      <li class="linkedin"><a href="#">LinkedIn</a></li>
                      <li class="twitter"><a href="#">Twitter</a>   </li>
                      <li class="facebook"><a href="#">Facebook</a></li>
                      <li class="rss"><a href="#">RSS</a></li>
            </ul>
          </nav>

        </div>

        <div class="clear"></div>-->

      <!-- MAIN VIDEO -->

      <div id="main-video" class="grid_8 colorboxVideo">
        <iframe src="http://player.vimeo.com/video/56297411" width="616" height="355" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>

      <div id="main-content" class="grid_4 colorbox">

          <div id="social-media">
          <nav>
            <ul>
                      <li class="linkedin"><a href="http://za.linkedin.com/pub/andrew-mcnaught/25/601/a89" target="_blank">LinkedIn</a></li>
                      <li class="twitter"><a href="https://twitter.com/TrashBack_SA" target="_blank">Twitter</a>   </li>
                      <li class="facebook"><a href="http://www.facebook.com/TrashBackSA" target="_blank">Facebook</a></li>
                      <li class="rss"><a href="#">RSS</a></li>
            </ul>
          </nav>

        </div>
                  <%=image_tag("https://prodigyfinance.com/assets/shadow.png", :class=> "horizRule") %>

        <h3 id="WWD">WHAT WE DO</h3>
        <div id = "content">
        <p>TrashBack is a social enterprise that changes apathy into action through an altered perception of waste. We are currently operating in the Hout Bay area of Cape Town, South Africa.</p>
       </div>
      </div>

      <div class="clear"></div>

      <div id="heading2">
        <h2>HOW IT WORKS</h2>
      </div><!--How it works-->

      <!-- 3 COLOUMS BELOW CONTENT -->
      <div class="grid_3 colorbox1">
        <h3>STEP 1</h3>

            <%=image_tag("https://prodigyfinance.com/assets/shadow.png", :class=> "stepRule") %>

           <p class="stepPar">Collect cups of stompies.</p>
          <%=image_tag("stompie.gif", :class=> "stompie") %>

      </div>
      <div class="grid_3 colorbox1">
        <h3>STEP 2</h3>

            <%=image_tag("https://prodigyfinance.com/assets/shadow.png", :class=> "stepRule") %>

          <p class="stepPar">Bring to Trashback's station.</p>
          <%=image_tag("tback-bin.gif", :class=> "tbackBin") %>

      </div>

      <div class="grid_3 colorbox1">
        <h3>STEP 3</h3>

              <%=image_tag("https://prodigyfinance.com/assets/shadow.png", :class=> "stepRule") %>

          <p class="stepPar">Receive free beer</p>
          <%=image_tag("beer-can.gif", :class=> "beer") %>

      </div>

      <div class="grid_3 colorbox1">
        <h3>STEP 4</h3>

              <%=image_tag("https://prodigyfinance.com/assets/shadow.png", :class=> "stepRule") %>

           <p class="stepPar">Repeat.</p>
          <%=image_tag("recycle.gif", :class=> "recycle") %>

      </div>
      <div class="clear"></div>

<section id="photos">
  <img src="http://bit.ly/VvoQlg" alt="Little doggie">
  <img src="http://bit.ly/VasvGi" alt="Little kittie">
  <img src="http://bit.ly/V10wcC" alt="Little doggie">
  <img src="http://bit.ly/Tn1iRT" alt="Little kittie">
  <img src="http://bit.ly/Tn295i" alt="Little doggie">
  <img src="http://bit.ly/RgURBx" alt="Little kittie">

  <img src="http://bit.ly/YcG2hQ" alt="Little doggie">
  <img src="http://bit.ly/Vau2Mt" alt="Little kittie">
  <img src="http://bit.ly/RQHxFk" alt="Little doggie">
  <img src="http://bit.ly/RgV5IX" alt="Little kittie">
  <img src="http://bit.ly/W0L3bv" alt="Little doggie">
  <img src="http://bit.ly/WEATQn" alt="Little kittie">

  <img src="http://bit.ly/W3ISnK" alt="Little doggie">
  <img src="http://bit.ly/UkX2nh" alt="Little kittie">
  <img src="http://bit.ly/10fR638" alt="Little doggie">
  <img src="http://bit.ly/ZyvQXl" alt="Little kittie">
  <img src="http://bit.ly/VheIB1" alt="Little doggie">
  <img src="http://bit.ly/VheJ83" alt="Little kittie">

  <img src="http://bit.ly/V14hyL" alt="Little doggie">
  <img src="http://bit.ly/WOLnAs" alt="Little kittie">
  <img src="http://bit.ly/Tn4rRO" alt="Little doggie">
  <img src="http://bit.ly/10fTVkC" alt="Little kittie">
  <img src="http://bit.ly/VheIB1" alt="Little doggie">
  <img src="http://bit.ly/VheJ83" alt="Little kittie">

  <img src="http://bit.ly/VvoQlg" alt="Little doggie">
  <img src="http://bit.ly/VasvGi" alt="Little kittie">
  <img src="http://bit.ly/V10wcC" alt="Little doggie">
  <img src="http://bit.ly/Tn1iRT" alt="Little kittie">
  <img src="http://bit.ly/Tn295i" alt="Little doggie">
  <img src="http://bit.ly/RgURBx" alt="Little kittie">

  <img src="http://bit.ly/YcG2hQ" alt="Little doggie">
  <img src="http://bit.ly/Vau2Mt" alt="Little kittie">
  <img src="http://bit.ly/RQHxFk" alt="Little doggie">
  <img src="http://bit.ly/RgV5IX" alt="Little kittie">
  <img src="http://bit.ly/W0L3bv" alt="Little doggie">
  <img src="http://bit.ly/WEATQn" alt="Little kittie">

  <img src="http://bit.ly/W3ISnK" alt="Little doggie">
  <img src="http://bit.ly/UkX2nh" alt="Little kittie">
  <img src="http://bit.ly/10fR638" alt="Little doggie">
  <img src="http://bit.ly/ZyvQXl" alt="Little kittie">
  <img src="http://bit.ly/VheIB1" alt="Little doggie">
  <img src="http://bit.ly/VheJ83" alt="Little kittie">

  <img src="http://bit.ly/V14hyL" alt="Little doggie">
  <img src="http://bit.ly/WOLnAs" alt="Little kittie">
  <img src="http://bit.ly/Tn4rRO" alt="Little doggie">
  <img src="http://bit.ly/10fTVkC" alt="Little kittie">
  <img src="http://bit.ly/VheIB1" alt="Little doggie">
  <img src="http://bit.ly/VheJ83" alt="Little kittie">


</section>






