<div class="newUser">
<%= form_for @user do |f|  %>

<div class = 'field'>
   <%=  f.label :name  %>
   <%=  f.text_field :name  %>
</div>
<div class = 'field'>
    <%=  f.label :phone  %>
    <%=  f.text_field :phone  %>
</div>
<div class = 'field'>
    <%=  f.label :email  %>
  <%=  f.text_field :email  %>
</div>
  <%= f.submit  %>
<% end  %>
</div>



<!--<%= link_to 'all users', root_path, :class=>"newButton" %>-->